*{
	padding: 0;
	margin: 0;

}
img{
    height: 69.8px;
    margin-left: 113px; 
	margin-top: 23px;

}
button{
    height: 38px;
    width: 170px;
    
    margin-left: 20px;
    font-size: 16px;
    font-weight: 5;
    
}
.a{
	margin-left: 90px;
	
}
.logo-menu{
    height: 30px;
    margin-left: 15px;
    margin-top: 3px;
 font-weight: lighter;
}
body{
	min-height: 100vh;
	font-family:sans-serif;
}
nav ul{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: -100px;
}
nav li{
	height: 50px;
}
nav a{
	height: 100%;
	padding: 0 3px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: black;
}
.sidebar{
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	
	backdrop-filter: blur(100px);
	width: 250px;
	z-index: 999;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.sidebar li{
	width:100%;
}
.sidebar a{
	width:100%;
}
.bar{
	margin-top: -60px;
	margin-left: -40px;
}
.menu{
	margin-top: 26px;
	font-size: 22px;
}
@media(min-width:800px){
	.mob-img{
		display: none;

	}
}
@media(width:375px){
	.hideonmobile{
		display: none;

	}
}
