@media(width:375px) {
	* {
		padding: 0;
		margin: 0;
		font-family: sans-serif;
	}

	.navbar {

		height: 50px;
		display: flex;

	}

	.logo {
		height: 34px;
		margin-left: 30px;
		margin-top: 7px;
	}

	button {
		background-color: rgb(255, 255, 255);
		color: rgb(62, 61, 103);
		border: solid, 1PX, rgb(0, 0, 0);
		height: 29px;
		width: 130px;
		margin-left: 60px;
		margin-top: 10px;
		font-size: small;
	}

	.bars {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-size: 22px;
		margin-top: 14px;
		margin-left: 59px;
		margin-right: 3px;

	}


}

@media(width:414px) {
	* {
		padding: 0;
		margin: 0;
		font-family: sans-serif;
	}

	.navbar {

		height: 50px;
		display: flex;

	}

	.logo {
		height: 34px;
		margin-left: 30px;
		margin-top: 7px;
	}

	button {
		background-color: rgb(255, 255, 255);
		color: rgb(62, 61, 103);
		border: solid, 1PX, rgb(0, 0, 0);
		height: 29px;
		width: 130px;
		margin-left: 80px;
		margin-top: 10px;
		font-size: small;
	}

	.bars {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-size: 22px;
		margin-top: 14px;
		margin-left: 79px;
		margin-right: 3px;

	}
}

@media(width:390px) {
	* {
		padding: 0;
		margin: 0;
		font-family: sans-serif;
	}

	.navbar {

		height: 50px;
		display: flex;

	}

	.logo {
		height: 34px;
		margin-left: 30px;
		margin-top: 7px;
	}

	button {
		background-color: rgb(255, 255, 255);
		color: rgb(62, 61, 103);
		border: solid, 1PX, rgb(0, 0, 0);
		height: 29px;
		width: 130px;
		margin-left: 80px;
		margin-top: 10px;
		font-size: small;
	}

	.bars {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-size: 22px;
		margin-top: 14px;
		margin-left: 79px;
		margin-right: 3px;

	}
}

@media(width:430px) {
	* {
		padding: 0;
		margin: 0;
		font-family: sans-serif;
	}

	.navbar {

		height: 50px;
		display: flex;

	}

	.logo {
		height: 34px;
		margin-left: 30px;
		margin-top: 7px;
	}

	button {
		background-color: rgb(255, 255, 255);
		color: rgb(62, 61, 103);
		border: solid, 1PX, rgb(0, 0, 0);
		height: 29px;
		width: 130px;
		margin-left: 80px;
		margin-top: 10px;
		font-size: small;
	}

	.bars {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-size: 22px;
		margin-top: 14px;
		margin-left: 79px;
		margin-right: 3px;

	}
}

@media(width:412px) {
	* {
		padding: 0;
		margin: 0;
		font-family: sans-serif;
	}

	.navbar {

		height: 50px;
		display: flex;

	}

	.logo {
		height: 34px;
		margin-left: 30px;
		margin-top: 7px;
	}

	button {
		background-color: rgb(255, 255, 255);
		color: rgb(62, 61, 103);
		border: solid, 1PX, rgb(0, 0, 0);
		height: 29px;
		width: 130px;
		margin-left: 80px;
		margin-top: 10px;
		font-size: small;
	}

	.bars {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-size: 22px;
		margin-top: 14px;
		margin-left: 79px;
		margin-right: 3px;

	}
}

@media(width:360px) {
	* {
		padding: 0;
		margin: 0;
		font-family: sans-serif;
	}

	.navbar {

		height: 50px;
		display: flex;

	}

	.logo {
		height: 34px;
		margin-left: 30px;
		margin-top: 7px;
	}

	button {
		background-color: rgb(255, 255, 255);
		color: rgb(62, 61, 103);
		border: solid, 1PX, rgb(0, 0, 0);
		height: 29px;
		width: 130px;
		margin-left: 60px;
		margin-top: 10px;
		font-size: small;
	}

	.bars {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-size: 22px;
		margin-top: 14px;
		margin-left: 60px;
		margin-right: 3px;

	}
}

@media(width:768px) {
	* {
		padding: 0;
		margin: 0;
		font-family: sans-serif;
	}

	.navbar {

		height: 50px;
		display: flex;

	}

	.logo {
		height: 64px;
		margin-left: 30px;
		margin-top: 7px;
	}

	button {
		background-color: rgb(255, 255, 255);
		color: rgb(62, 61, 103);
		border: solid, 1PX, rgb(0, 0, 0);
		height: 39px;
		width: 190px;
		margin-left: 280px;
		margin-top: 20px;
		font-size: 23px;
	}

	.bars {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-size: 42px;
		margin-top: 20px;
		margin-left: 119px;
		margin-right: 3px;

	}
}

@media(width:820px) {
	* {
		padding: 0;
		margin: 0;
		font-family: sans-serif;
	}

	.navbar {

		height: 50px;
		display: flex;

	}

	.logo {
		height: 84px;
		margin-left: 60px;
		margin-top: 14px;
	}

	button {
		background-color: rgb(255, 255, 255);
		color: rgb(62, 61, 103);
		border: solid, 1PX, rgb(0, 0, 0);
		height: 49px;
		width: 190px;
		margin-left: 210px;
		margin-top: 30px;
		font-size: 20px;
	}

	.bars {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-size: 37px;
		margin-top: 39px;
		margin-left: 119px;
		margin-right: 3px;

	}
}

@media(width: 1024px) { 
*	{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.navbar {

	height: 50px;
	display: flex;

}

.logo {
	height: 104px;
	margin-left: 60px;
	margin-top: 14px;
}

button {
	background-color: rgb(255, 255, 255);
	color: rgb(62, 61, 103);
	border: solid, 1PX, rgb(0, 0, 0);
	height: 69px;
	width: 260px;
	margin-left: 290px;
	margin-top: 30px;
	font-size: 28px;
}

.bars {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 47px;
	margin-top: 39px;
	margin-left: 199px;
	margin-right: 3px;

}
}
@media(width: 912px) {* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.navbar {

	height: 50px;
	display: flex;

}

.logo {
	height: 94px;
	margin-left: 50px;
	margin-top: 17px;
}

button {
	background-color: rgb(255, 255, 255);
	color: rgb(62, 61, 103);
	border: solid, 1PX, rgb(0, 0, 0);
	height: 49px;
	width: 210px;
	margin-left: 280px;
	margin-top: 30px;
	font-size: 24px;
}

.bars {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 60px;
	margin-top: 30px;
	margin-left: 139px;
	margin-right: 3px;

}}
@media(width: 540px) {
	* {
		padding: 0;
		margin: 0;
		font-family: sans-serif;
	}

	.navbar {

		height: 50px;
		display: flex;

	}

	.logo {
		height: 44px;
		margin-left: 40px;
		margin-top: 7px;
	}

	button {
		background-color: rgb(255, 255, 255);
		color: rgb(62, 61, 103);
		border: solid, 1PX, rgb(0, 0, 0);
		height: 29px;
		width: 130px;
		margin-left: 160px;
		margin-top: 16px;
		font-size: small;
	}

	.bars {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-size: 32px;
		margin-top: 15px;
		margin-left: 89px;
		margin-right: 3px;

	}
}
@media(width: 344px) {
	
	* {
		padding: 0;
		margin: 0;
		font-family: sans-serif;
	}

	.navbar {

		height: 50px;
		display: flex;

	}

	.logo {
		height: 34px;
		margin-left: 30px;
		margin-top: 7px;
	}

	button {
		background-color: rgb(255, 255, 255);
		color: rgb(62, 61, 103);
		border: solid, 1PX, rgb(0, 0, 0);
		height: 29px;
		width: 130px;
		margin-left: 60px;
		margin-top: 10px;
		font-size: small;
	}

	.bars {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-size: 22px;
		margin-top: 14px;
		margin-left: 59px;
		margin-right: 3px;

	}


}

@media(width: 853px) {
	* {
		padding: 0;
		margin: 0;
		font-family: sans-serif;
	}
	
	.navbar {
	
		height: 50px;
		display: flex;
	
	}
	
	.logo {
		height: 94px;
		margin-left: 50px;
		margin-top: 17px;
	}
	
	button {
		background-color: rgb(255, 255, 255);
		color: rgb(62, 61, 103);
		border: solid, 1PX, rgb(0, 0, 0);
		height: 49px;
		width: 210px;
		margin-left: 280px;
		margin-top: 30px;
		font-size: 24px;
	}
	
	.bars {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-size: 60px;
		margin-top: 28px;
		margin-left: 139px;
		margin-right: 3px;
	
	}
}