* {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    margin-top: 52px;
}

span {
    font-size: 40px;
    margin-left: 70px;
}

.tag {
    margin-top: 18px;

}

.a {
    margin-left: 460px;
}

.b {
    margin-left: 70px;
}

.c {
    margin-left: 50px;
}

.d {
    margin-left: 10px;
    font-size: 30px;
    margin-top: 10px;
}

.e {
 margin-left: 30px;
}

.f {
    margin-left: 30px;
}
a{
    text-decoration: none;
}
@media (width:1024px){
    * {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    margin-top: 22px;
}

span {
    font-size: 40px;
    margin-left: 70px;
    margin-top: 15px;
}

.tag {
    margin-top: 28px;
    font-size: 20px;
    color:black;

}

.a {
    margin-left: 180px;
}

.b {
    margin-left: 40px;
}

.c {
    margin-left: 40px;
}

.d {
    margin-left: 10px;
    font-size: 20px;
    margin-top: 28px;
}

.e {
 margin-left: 30px;
}

.f {
    margin-left: 30px;
}
a{
    text-decoration: none;
}
.tag:hover{
    font-size: 22px;
    color: rgb(103, 103, 213);
}
}
@media (width:1280px){
    * {
        font-family: sans-serif;
    }
    
    .navbar {
        display: flex;
        margin-top: 52px;
    }
    
    span {
        font-size: 40px;
        margin-left: 70px;
    }
    
    .tag {
        margin-top: 18px;
    
    }
    
    .a {
        margin-left: 460px;
    }
    
    .b {
        margin-left: 70px;
    }
    
    .c {
        margin-left: 50px;
    }
    
    .d {
        margin-left: 10px;
        font-size: 30px;
        margin-top: 10px;
    }
    
    .e {
     margin-left: 30px;
    }
    
    .f {
        margin-left: 30px;
    }
    a{
        text-decoration: none;
    }
}